/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-primary {
    background: var(--color-primary-dark);
    background: -moz-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
    background: -webkit-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
    background: linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
    color: var(--color-primary-light-anti);
}
.bg-grey {
    background-color: var(--color-grey);
    color: var(--color-grey-anti);
}

h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}
    h2::before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 3px;
        margin: -60px calc(50% - 25px);
        background: var(--color-primary-dark);
        background: -moz-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
        background: -webkit-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
        background: linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
    }
    h2::after {
        content: '';
        display: inline-block;
        width: 80px;
        height: 2px;
        margin: 12px calc(50% - 40px);
        background: var(--color-primary-dark);
        background: -moz-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
        background: -webkit-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
        background: linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
    }
    h2.up {
        text-transform: uppercase;
    }

/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */
#hero {
    min-height: 100vh;
    background-image: url(../img/parallax-banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 200px 0;
    text-align: center;
    position: relative;
}
    #hero > .row {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    #hero .hero-title {
        text-transform: uppercase;
        font-size: 32px;
        line-height: 40px;
    }
    #hero .hero-subtitle {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 40px;
    }
    #hero .animated-text {
        font-size: 72px;
        line-height: 120px;
    }
    #hero .mouse {
        position: absolute;
        left: calc(50% - 20px);
        bottom: 40px;
    }

/************************************************************/

/************************************************************/
/* ABOUT ME */
#about p {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #777;
}
    #about p.title {
        margin-bottom: 0px;
        font-size: 30px;
        line-height: 40px;
        color: #333;
    }
    #about p.subtitle {
        color: #888;
        font-style: italic;
    }
#about .video {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
    #about .video > img {
        display: inline-block;
        width: 100%;
        object-fit: cover;
    }

.play-btn {
    display: inline-block;
    width: 220px;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
}
    .play-btn > .radius {
        display: inline-block;
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #fff;
        border-radius: 50%;
        animation: wave 4s linear infinite;
    }
        .play-btn > .radius.r-2 {
            animation-delay: 1s;
        }
        .play-btn > .radius.r-3 {
            animation-delay: 2s;
        }
        .play-btn > .radius.r-4 {
            animation-delay: 3s;
        }
    .play-btn > .circle {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        .play-btn > .circle > .triangle {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-left: 14px solid var(--color-primary-dark);
            border-bottom: 10px solid transparent;
            position: absolute;
            top: 50%;
            left: 52%;
            transform: translate(-50%, -50%);
        }

@keyframes wave {
    0% {
        width: 0%;
        height: 0%;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

/************************************************************/

/************************************************************/
/* LIGHTOBX */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
    .lightbox.show {
        display: inline-block;
    }
    .lightbox > .background {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #000C;
    }
    .lightbox > .content {
        display: inline-block;
        padding: 30px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }


/************************************************************/

/************************************************************/
/* PORTFOLIO */

.gallery {
    margin-top: 40px;
}

/************************************************************/

/************************************************************/
/* SERVICES */
.service {
    display: inline-block;
    padding: 20px;
    text-align: center;
}
    .service > i {
        display: inline-block;
        font-size: 50px;
        line-height: 50px;
    }
    .service > h3 {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        font-size: 20px;
        line-height: 20px;
    }
    .service > p {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
    }

/************************************************************/

/************************************************************/
/* TEAM */
.member {
    display: inline-block;
    float: left;
    width: calc((100% - 120px) / 4);
    margin: 0 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}
    .member:hover {
        padding: 14px;
        border: 1px solid var(--color-primary-light);
    }
    .member > * {
        display: inline-block;
        width: 100%;
    }
    .member > .top {
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }
        .member > .top > img {
            display: inline-block;
            width: 100%;
        }
        .member > .top >.socials {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: #0003;
        }
            .member:hover > .top > .socials {
                display: inline-block;
            }
            .member .socials > .list {
                display: inline-block;
                width: 150px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
                .member .list > a {
                    display: inline-block;
                    float: left;
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                }
                    .member .list > a > i {
                        display: inline-block;
                        width: 40px;
                        text-align: center;
                        background-color: transparent;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        font-size: 20px;
                        line-height: 40px;
                        color: #fff;
                    }
                        .member .list > a > i:hover {
                            background: var(--color-primary-dark);
                            background: -moz-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
                            background: -webkit-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
                            background: linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
                            color: var(--color-primary-light-anti);
                        }
    .member > .name {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        position: relative;
    }
        .member > .name::after {
            display: inline-block;
            content: '';
            width: 40px;
            height: 4px;
            position: absolute;
            bottom: -10px;
            left: calc(50% - 20px);
            background: var(--color-primary-dark);
            background: -moz-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
            background: -webkit-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
            background: linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
        }
    .member > .position {
        text-transform: capitalize;
        color: #777;
    }

/************************************************************/

/************************************************************/
/* NUMBERS */
.bg-achievements {
    background-image: url(../img/count-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.achievement {
    display: inline-block;
    padding: 20px 0;
    text-align: center;
}
    .achievement > .center {
        display: inline-block;
    }
    .achievement i {
        display: inline-block;
        font-size: 50px;
        line-height: 60px;
        text-align: right;
    }
    .achievement .texts {
        display: inline-block;
        margin-left: 15px;
        text-align: left;
    }
        .achievement .texts > .number {
            display: inline-block;
            font-size: 40px;
            line-height: 50px;
        }
        .achievement .texts > .title {
            display: inline-block;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
        }

/************************************************************/

/************************************************************/
/* PRICING */

/************************************************************/

/************************************************************/
/* BLOG */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* MAPS */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
